* {
    font-family: 'Roboto Mono', monospace;
    color: white;
    margin: 0;
    overflow-x: hidden;
    align-items: center;
    user-select: none;
}
html {
    background-image: url('background.png');
    background-size:inherit;
    animation: scroll 175s linear infinite;
}

button {
  transition: all .5s ease;
  color: #fff;
  border: 3px solid white;
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  width: 150px;
  height: 80px;
  align-self:center;
  align-items: center;
  margin: 50px;
  text-align: center;
  align-self: center;
}
button:hover {
  color: #001F3F;
  background-color: #fff;
  cursor: pointer;
}
i {
  background-color: rgba(10,10,10,1);;
}
h1 {
    background-color: rgba(10,10,10,1);
    align-self: center;
    text-align: center;
    margin: 50px;
    margin-right: 75px;
}
h2 {
    text-align: center;
    margin: 50px;
    font-size: 50px;
}
h3 {
    background-color: rgba(10,10,10,1);
    text-align: center;
    margin: 25px;
    font-size: 30px;
}
p {
    background-color: rgba(10,10,10,1);
    font-size: 20px;
    font-style: italic;
    align-self: center;
    text-align: center;
    margin: 35px;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: rgba(0,0,0,1);
    border-left: 1px solid white; 
}
  
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,1);
    border-left: 1px solid white; 
}
  
::-webkit-scrollbar-thumb {
    background-color: rgba(30,30,30,1);
    width: 12px;
    border-left: 1px solid white;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgba(40,40,40,1);
}
.topbar {
    border-bottom: 1px solid white;
    width: 99.9vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: rgba(10,10,10,1);
    height: 150px;
    text-align: center;
    align-items: center;
    overflow-y: hidden;
}
.presentBox {
    border: 3px solid transparent;
    border-radius: 10px;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(10,10,10,1);
    text-align: center;
    align-items: center;
    width: 65%;
    align-self: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.presentButtons {
    display: flex;
    flex-direction: row;
    background-color: rgba(10,10,10,1);
}
@keyframes comein {
    0% { opacity: 0;}
    50% { opacity: 50;}
    100% { opacity: 100;}
}
@keyframes scroll {
    from {background-position: bottom left;
    }
    to {
        background-position: top right;
    }
}